body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.chat-container {
    width: 400px;
    height: 600px;
    margin: 30px auto;
    background: #1e293b;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h2 {
    text-align: center;
    padding: 10px;
    background: #020617;
    margin: 0;
}

#chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    padding: 10px 14px;
    border-radius: 15px;
    margin: 8px 0;
    max-width: 75%;
    line-height: 1.4;
}

.user {
    background: #3b82f6;
    align-self: flex-end;
    border-bottom-right-radius: 2px;
}

.bot {
    background: #334155;
    align-self: flex-start;
    border-bottom-left-radius: 2px;
}

/* Loader animation */
.loader {
    width: 40px;
    display: flex;
    justify-content: space-between;
}

.loader span {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    animation: bounce 1.2s infinite;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}
.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 80%, 100% { transform: scale(0); }
    40% { transform: scale(1); }
}

.input-box {
    display: flex;
    border-top: 1px solid #444;
}

input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    background: #020617;
    color: white;
}

button {
    padding: 12px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}